.article-author-container {
  display: flex;
}

.article-author-name {
  margin: 0;
  opacity: .8;
}

.article-date {
  opacity: 0.6;
}

.article-avatar,
.article-author-name,
.article-date {
  padding: 3px;
}

.article-img {
  width: 100%;
  border-radius: 5px;
}

figcaption,
figcaption > a {
  color: #805729;
  text-decoration: none;
  text-align: center;
}

.article {
  color: #1f5079;
  line-height: 2em;
  padding: 10px;
}

article > h3 {
  color: #14344e;
}

.underlined-text {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  color: #555555;
  line-height: 1.6;
  border-left: 8px solid rgb(105, 155, 212);
  background:#EDEDED;
  padding: 1em;
}

.prev-nxt-btns {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px 10px 10px;
}

.prev-nxt-btns > a > button {
  background-color: black;
  color: white;
  opacity: 1;
}

.prev-nxt-btns > a > button:hover {
  opacity: 0.8;
}

button > .fa {
  background-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  width: 20px;
}

button > .fa:hover {
  background-color: inherit;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .post-page-title,
  .article-author-container,
  article {
    margin: auto;
    max-width: 768px;
  }
}
