.article-author-container {
  display: flex;
}

.article-author-name {
  margin: 0;
  opacity: .8;
}

.article-date {
  opacity: 0.6;
}

.article-avatar,
.article-author-name,
.article-date {
  padding: 3px;
}

.article-img {
  width: 100%;
  border-radius: 5px;
}

figcaption,
figcaption > a {
  color: #805729;
  text-decoration: none;
  text-align: center;
}

.article {
  color: #1f5079;
  line-height: 2em;
  padding: 10px;
}

article > h3 {
  color: #14344e;
}

.underlined-text {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  color: #555555;
  line-height: 1.6;
  border-left: 8px solid rgb(105, 155, 212);
  background:#EDEDED;
  padding: 1em;
}
