header {
  width: 100%;
}

.site-logo {
  width: 150px;
}
 ul {
   list-style-type: none;
   display: flex;
   width: auto;
   margin: 0;
   padding: 0;
 }

 .ul-nav {
  background-color: #1a1a6e;
  border-radius: 5px;
 }

 .menu {
   text-decoration: none;
   color: white;
   padding: 1em;
 }

 .menu:hover {
   background-color: #5757bb;
 }

 @media only screen and (min-width: 480px) {
   header {
     width: 100%;
     align-items: center;
   }

   nav {
     padding-right: 10px;
   }

   .ul-nav {
     display: flex;
     width: 100%;
     max-width: 600px;
     justify-content: space-evenly;
     float: right;
   }
 }