header {
  width: 100%;
}

.site-logo {
  width: 150px;
}
 ul {
   list-style-type: none;
   display: flex;
   width: auto;
   background-color: black;
   margin: 0;
   padding: 0;
 }

 .menu {
   text-decoration: none;
   color: white;
   padding: 1em;
 }
